# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore npm debug log
npm-debug.log

# Ignore yarn error log
yarn-error.log

# Ignore macOS specific files
.DS_Store

# Ignore environment-specific configuration
.env

# Ignore build artifacts
/build
/dist
/out

# Ignore any other file or directory that should not be version controlled
# (e.g., editor-specific files, temporary files)
*.swp
.idea/
.vscode/
